/*  Practice Set Chapter 1 Question 1 */


/* .red {
    background-color: red;
    color: white;
} */


/*  Practice Set Chapter 1 Question 2*/


/* .head {
    background-color: aqua;
} */


/*  Practice Set Chapter 1 Question 3*/


/* .one {
    color: red;
} */